<aside id="sidebar">
    <div class="sidebar-header">
        Rtg Data Manager
    </div>
    <div class="sidenav-outer">
        <div class="side-menu">
            <div class="menu-body">
                <ul class="sidenav">
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['products']">
                            <i class="fa fa-gift"></i>
                        </a>
                        <ul class="nested-dropdown animated">
                            <li [routerLinkActive]="['active']"><a [routerLink]="['products']">Products</a></li>
                        </ul>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['shortcode']">
                            <i class="fa fa-code"></i>
                        </a>
                        <ul class="nested-dropdown animated">
                            <li [routerLinkActive]="['active']"><a [routerLink]="['shortcode']" >Shortcode</a></li>
                        </ul>
                    </li>
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['grid']">-->
                            <!--<i class="fa fa-th-large"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li><a [routerLink]="['grid']">{{ 'grid'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['tables', 'bootstrap-table']">-->
                            <!--<i class="fa fa-list"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li><a [routerLink]="['tables', 'bootstrap-table']">{{ 'bootstrap_table' }}</a></li>-->
                            <!--<li><a [routerLink]="['tables', 'data-table']">{{ 'data_table'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['forms', 'elements']">-->
                            <!--<i class="fa fa-yelp"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li class="sidemenu-header">{{ 'form'  }}</li>-->
                            <!--<li><a [routerLink]="['forms', 'elements']">{{ 'elements'  }}</a></li>-->
                            <!--<li><a [routerLink]="['forms', 'components']">{{ 'components'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['ui-elements', 'buttons']">-->
                            <!--<i class="fa fa-cloud-download"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li class="sidemenu-header">{{ 'user_interface'  }}</li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'alert']">{{ 'alerts'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'buttons']">{{ 'buttons'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'dropdown']">{{ 'dropdown'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'icons']">{{ 'icons'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'cards']">{{ 'cards'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'progressbar']">{{ 'progressbars'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'pagination']">{{ 'pagination'  }}</a></li>-->
                            <!--<li><a [routerLink]="['ui-elements', 'others']">{{ 'other_elements'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['charts', 'chart-js']">-->
                            <!--<i class="fa fa-line-chart"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li class="sidemenu-header" >{{ 'charts'  }}</li>-->
                            <!--<li><a [routerLink]="['charts', 'chart-js']">{{ 'charts_js'  }}</a></li>-->
                            <!--<li><a [routerLink]="['charts', 'c3-chart']">{{ 'c3_charts'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['calendar']">-->
                            <!--<i class="fa fa-calendar"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li><a [routerLink]="['calendar']">{{ 'calendar'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['mail', 'inbox']">-->
                            <!--<i class="fa fa-envelope-o"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li class="sidemenu-header">{{ 'mail'  }}</li>-->
                            <!--<li><a [routerLink]="['mail', 'inbox']">{{ 'inbox'  }}</a></li>-->
                            <!--<li><a [routerLink]="['mail', 'compose']">{{ 'compose'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a [routerLink]="['invoice']">-->
                            <!--<i class="fa fa-list-alt"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li><a [routerLink]="['invoice']">{{ 'invoice'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li [routerLinkActive]="['active']">-->
                        <!--<a href='http://www.strapui.com/docs/ani-angular2-theme/v1.0/'>-->
                            <!--<i class="fa fa-book"></i>-->
                        <!--</a>-->
                        <!--<ul class="nested-dropdown animated">-->
                            <!--<li><a href='http://www.strapui.com/docs/ani-angular2-theme/v1.0/'>{{ 'docs'  }}</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li class="sidemenu-header">
                        <a>
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="nested-dropdown animated">
                            <li class="sidemenu-header">Settings</li>
                            <li (click)="logout()">Log out</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="side-widgets">-->
            <!--<div class="widgets-content">-->
                <!--<div class="profile text-center">-->
                    <!--<a ui-sref="profile"><img src="assets/images/flat-avatar.png" class="user-avatar" /></a>-->
                    <!--<div class="text-center avatar-name">Ani Pascal</div>-->
                <!--</div>-->
                <!--<div class="calendar-container text-center">-->
                    <!--<div id="calendar1"></div>-->
                <!--</div>-->
                <!--<div class="news-feed">-->
                    <!--<div class="feed-header">{{ 'feed'  }}</div>-->
                    <!--<div class="feed-content">-->
                        <!--<ul class="feed">-->
                            <!--<li>-->
                                <!--<a href="javascript:void">{{ 'li1'  }}</a> <span class="feed-date">25/4/2015</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:void">{{ 'li2'  }}</a> <span class="feed-date">25/4/2015</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:void">{{ 'li3'  }}</a> <span class="feed-date">25/4/2015</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:void">{{ 'li4'  }}</a> <span class="feed-date">25/4/2015</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</aside>
