$brand-primary:         #2c3e50; // darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #de6764; //#d9534f;
$brand-secondary:       #7BB77C;

$color-very-dark-gray: #1B252B;
$color-dark-gray: #2c3e50;
$color-background-gray: #ecf0f1;
$color-skyblue: #5ac0de;
$color-navyblue: #2c3e4f;
$color-orange: #f0ad4e;
$color-white-font: rgba(255,255,255,0.8);
